<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Просмотр пользователя</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userName" style="font-size: 1.1rem;">Название учетной записи пользователя: </label>
                    <input type="text" id="userName" class="form-control mb-2" [(ngModel)]="user.userName" name="userName" readonly required />
                </div>
                <div class="form-group">
                    <label for="firstName" style="font-size: 1.1rem;">Имя пользователя: </label>
                    <input type="text" id="firstName" class="form-control mb-2" [(ngModel)]="user.firstName" name="firstName" required />
                </div>
                <div class="form-group">
                    <label for="lastName" style="font-size: 1.1rem;">Фамилия пользователя: </label>
                    <input type="text" id="lastName" class="form-control mb-2" [(ngModel)]="user.lastName" name="lastName" required />
                </div>
                <div class="form-group">
                    <label for="patronymic" style="font-size: 1.1rem;">Отчество пользователя: </label>
                    <input type="text" id="patronymic" class="form-control mb-2" [(ngModel)]="user.patronymic" name="patronymic" required />
                </div>
                <div class="form-group">
                    <label for="email" style="font-size: 1.1rem;">Почта: </label>
                    <input type="text" id="email" class="form-control mb-2" [(ngModel)]="user.email" name="email" readonly required />
                </div>
                <div class="form-group">
                    <label for="phoneNumber" style="font-size: 1.1rem;">Телефон номер: </label>
                    <input type="text" id="phoneNumber"  class="form-control mb-2" [(ngModel)]="user.phoneNumber" name="phoneNumber" readonly required />
                </div>
                <div class="form-group">
                    <label for="Role" style="font-size: 1.1rem;">Роль пользователя: </label>
                    <input type="text" id="Role"  class="form-control mb-2" [(ngModel)]="user.role" name="Role" readonly required />
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-md btn-outline-primary blue" (click)="close()">Закрыть</button>
            </div>
        </div>
    </div>

</div>
