<div class="card">
    <div class="row align-items-center">
        <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center pt-1">
                <div class="input-group">
                    <input style="box-shadow: none;" (keyup)="filterInput($event)" [(ngModel)]="filterText"
                        name="filterText" class="form-control" placeholder="Поиск по логин" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-primary bnt-md" (click)="onLazyLoad()" type="submit"><i
                                class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <p-table #dt [value]="(suggestions$ | async).data " dataKey="id" styleClass="p-datatable-customers"
        [rowHover]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
        [loading]="(suggestions$ | async).loading" [paginator]="true"
        currentPageReportTemplate="Показаны записи с {first} по {last} из {totalRecords}" [filterDelay]="0"
        [globalFilterFields]="['name','name','.name','name']" [totalRecords]="(suggestions$ | async).total"
        [lazy]="true" [(first)]="tableFilter.first" [(rows)]="tableFilter.itemPerPage"
        (onLazyLoad)="onLazyLoad($event)">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <div class="col-md-12">
                    <span class="row">
                        <span class="col-md-6 pt-2">ВЕСЬ СПИСОК ПРЕДЛОЖЕК</span>
                        <span class=" col-md-6 float-right">
                            <button class="btn btn-md btn-outline-primary float-right" (click)="create()"><i
                                    class="fa fa-plus"></i> Создать новую предложку</button>
                        </span>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Действия
                    </div>
                </th>
                <th pSortableColumn="userName">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Название
                    </div>
                </th>
                <th pSortableColumn="firstName">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Диапозон От
                    </div>
                </th>
                <th pSortableColumn="phoneNumber">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Диапозон До
                    </div>
                </th>
                <th pSortableColumn="isBlocked">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Статус
                    </div>
                </th>
                <th pSortableColumn="isBlocked">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Тип выборки
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr class="p-selectable-row">
                <td style="max-width: 150px">
                    <span class="p-column-title">Действия</span>
                    <div class="btn-group dropdown">
                        <button class="dropdown-toggle btn btn-sm btn-outline-primary" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i><span class="caret"></span>
                            Действия
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                                    (click)="createOrEditSuggestionModal.show(record)">Редактировать</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li>
                                <a class="dropdown-item" href="javascript:;" style="font-size: small;"
                                    (click)="remove(record)">Удалить</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <span class="p-column-title">Название</span>
                    {{record.name}}
                </td>
                <td>
                    <span class="p-column-title">Диапозон От</span>
                    {{record.rangeFrom}}
                </td>
                <td>
                    <span class="p-column-title">Диапозон До</span>
                    {{record.rangeTo}}
                </td>
                <td>
                    <span class="p-column-title">Статус</span>
                    {{resultStatuses[record.status].label}}
                </td>
                <td>
                    <span class="p-column-title">Тип выборки</span>
                    {{selectionTypes[record.selectionType].label}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">Записей не найдено.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-create-or-edit-suggestion-modal #createOrEditSuggestionModal (modalSave)="onLazyLoad()">
</app-create-or-edit-suggestion-modal>