<form [formGroup]=" formModel" class="mb-4 mt-3" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
        <label>Название учетной записи</label>
        <input class="form-control" formControlName="UserName">
        <label class = "text-danger" *ngIf=" formModel.get('UserName')?.touched && 
         formModel.get('UserName')?.errors?.required">Данное поле обязатольно для заполнения.</label>
    </div>
    <div class="form-group required">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class = "text-danger" *ngIf=" formModel.get('Email')?.touched && 
         formModel.get('Email')?.errors?.email">Неверный адрес электронной почты.</label>
        <label class = "text-danger" *ngIf=" formModel.get('Email')?.touched && 
         formModel.get('Email')?.errors?.required">Данное поле обязатольно для заполнения.</label>
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Пароль</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class = "text-danger" *ngIf=" formModel.get('Passwords.Password')?.touched && 
                 formModel.get('Passwords.Password')?.errors?.required">Данное поле обязатольно для заполнения.</label>
            <label class = "text-danger" *ngIf=" formModel.get('Passwords.Password')?.touched && 
                 formModel.get('Passwords.Password')?.errors?.minlength">Минимальная длина 4 символа.</label>
        </div>
        <div class="form-group required">
            <label>Подтвердить пароль</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class = "text-danger" *ngIf=" formModel.get('Passwords.ConfirmPassword')?.touched && 
                 formModel.get('Passwords.ConfirmPassword')?.errors?.required">Данное поле обязатольно для заполнения.</label>
            <label class = "text-danger" *ngIf=" formModel.get('Passwords.ConfirmPassword')?.touched && 
                 formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Пароли не совпадают.</label>
        </div>
    </div>
    <!-- <div class="form-group required">
        <label>Роль пользователя</label>
        <select formControlName="Role"  class="form-control">
            <option style="font-size: 1.2rem;" value="Student">Студент</option>
            <option style="font-size: 1.2rem;" value="Teacher">Преподователь</option>
        </select>
        <label class = "text-danger" *ngIf=" formModel.get('Role')?.touched && 
         formModel.get('Role')?.errors?.required">Данное поле обязатольно для заполнения.</label>
    </div> -->
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="! formModel.valid">Зарегистрироваться</button>
        </div>
    </div>
</form>
