<div bsModal #changePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form #changePasswordForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Изменение пароля</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password" style="font-size: 1.1rem;">Новый пароль: *</label>
                        <div class="input-group">
                            <input [type]="showPswd ? 'text' : 'password'" min="4" id="password" class="form-control" data-toggle="password" [(ngModel)]="changePassword.newPassword"
                                name="password" required />
                    
                            <span class="input-group-append">
                                <span (click)="showHidePassword()" class="btn btn-outline-primary">
                                    <i *ngIf="!showPswd" class="fa fa-eye-slash"></i>
                                    <i *ngIf="showPswd" class="fa fa-eye"></i>
                                </span>
                            </span>
                        </div>
                        <label style="font-size: 1rem;">Минимальная длина пароля 4 символа</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="close()">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary blue" [disabled]="!changePasswordForm.form.valid" ><i class="fa fa-save"></i> <span> Сохранить</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

