<div class="row align-items-center">
    <div class="col-xl-12">
        <div class="form-group m-form__group align-items-center">
            <div class="input-group">
                <input style="box-shadow: none;" (keyup)="filterInput($event)" [(ngModel)]="filterText" name="filterText" class="form-control" placeholder="Поиск по всем параметрам" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-primary bnt-md" (click)="onLazyLoad()" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<p-table #dt [value]="(users$ | async).data "  dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
     [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="(users$ | async).loading"
    [paginator]="true" currentPageReportTemplate="Показаны записи с {first} по {last} из {totalRecords}"
    [filterDelay]="0" [globalFilterFields]="['name','name','.name','name']"  [totalRecords]="(users$ | async).total" 
    [lazy]="true"  [(first)]="tableFilter.first"[(rows)]="tableFilter.itemPerPage" (onLazyLoad)="onLazyLoad($event)">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="col-md-12">
                <span>ВЕСЬ СПИСОК ПОЛЬЗОВАТЕЛЕЙ</span>
                <span>
                    <button class="btn btn-md btn-outline-primary ml-3" ><i class="fa fa-refresh"></i> Обновить</button>
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th >
                <div class="p-d-flex p-jc-between p-ai-center">
                    Действия
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Название
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Статус
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Назначенные Тесты
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr class="p-selectable-row">
            <td style="max-width: 150px">
                <span class="p-column-title">Действия</span>
                <div class="btn-group dropdown">
                    <button class="dropdown-toggle btn btn-sm btn-outline-primary" id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Действия
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="openSelectTestModal(record.id)">Назначить тест</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <span class="p-column-title">Название</span>
                {{record.userName}} <br>
                <small><b><span>ФИО пользователя:</span> 
                    {{record.lastName + " " + record.firstName + " " + record.patronymic}}</b></small>
            </td>
            <td>
                <span class="p-column-title">Статус</span>
                {{record.status}}
            </td>
            <td>
                <span class="p-column-title">Назначенные Тесты</span>
                <a style="color:#0078D7;" class="a-hover" (click)="userTestsDetailsModal.show(record.id)">
                    <span>Всего: <b>{{record.userTestList.length}}</b></span> <br>
                    <span>Пройдено: <b>{{filterArray(record.userTestList,true)}}</b></span> <br>
                    <span>Не пройдено: <b>{{filterArray(record.userTestList,false)}}</b></span>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="text-center">Записей не найдено.</td>
        </tr>
    </ng-template>
</p-table>

<app-test-lookup-table-modal #testLookupTableModal (modalSave)="selectTest($event)"></app-test-lookup-table-modal>
<app-user-tests-details-modal #userTestsDetailsModal></app-user-tests-details-modal>