<div class="row align-items-center">
    <div class="col-xl-12">
        <div class="form-group m-form__group align-items-center">
            <div class="input-group">
                <input style="box-shadow: none;" (keyup)="filterInput($event)" [(ngModel)]="filterText" name="filterText" class="form-control" placeholder="Поиск по логин" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-primary bnt-md" (click)="onLazyLoad()" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<p-table #dt [value]="(users$ | async).data "  dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
     [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="(users$ | async).loading"
    [paginator]="true" currentPageReportTemplate="Показаны записи с {first} по {last} из {totalRecords}"
    [filterDelay]="0" [globalFilterFields]="['name','name','.name','name']"  [totalRecords]="(users$ | async).total" 
    [lazy]="true"  [(first)]="tableFilter.first"[(rows)]="tableFilter.itemPerPage" (onLazyLoad)="onLazyLoad($event)">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="col-md-12">
                <span class="row">
                    <span class="col-md-6 pt-2">ВЕСЬ СПИСОК ПОЛЬЗОВАТЕЛЕЙ</span>
                    <!-- <span>
                        <button class="btn btn-md btn-outline-primary ml-3" ><i class="fa fa-refresh"></i> Обновить</button>
                    </span> -->
                    <span class=" col-md-6 float-right">
                        <button class="btn btn-md btn-outline-primary float-right" (click)="create()"><i class="fa fa-plus"></i> Создать нового пользователя</button>
                    </span>
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th >
                <div class="p-d-flex p-jc-between p-ai-center">
                    Действия
                </div>
            </th>
            <th pSortableColumn="userName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Логин
                    <!-- <p-sortIcon field="userName"></p-sortIcon>
                    <p-columnFilter type="text" field="userName" display="menu" class="p-ml-auto"></p-columnFilter> -->
                </div>
            </th>
            <th pSortableColumn="firstName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    ФИО пользователя
                    <!-- <p-sortIcon field="firstName"></p-sortIcon>
                    <p-columnFilter type="text" field="firstName" display="menu" class="p-ml-auto"></p-columnFilter> -->
                </div>
            </th>
            <th pSortableColumn="phoneNumber">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Номер телефона
                    <!-- <p-sortIcon field="phoneNumber"></p-sortIcon>
                    <p-columnFilter type="text" field="phoneNumber" display="menu" class="p-ml-auto"></p-columnFilter> -->
                </div>
            </th>
            <th pSortableColumn="isBlocked">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Статус
                    <!-- <p-sortIcon field="isBlocked"></p-sortIcon>
                    <p-columnFilter type="text" field="isBlocked" display="menu" class="p-ml-auto"></p-columnFilter> -->
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr class="p-selectable-row">
            <td style="max-width: 150px">
                <span class="p-column-title">Действия</span>
                <div class="btn-group dropdown">
                    <button class="dropdown-toggle btn btn-sm btn-outline-primary" id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Действия
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngIf="!record.isBlocked">
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="blockAndUnBlockUser(record.id)">Заблокировать</a>
                        </li>
                        <div *ngIf="!record.isBlocked" class="dropdown-divider"></div>
                        <li *ngIf="record.isBlocked">
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="blockAndUnBlockUser(record.id)">Разблокировать</a>
                        </li>
                        <div *ngIf="record.isBlocked" class="dropdown-divider"></div>
                        <li>
                            <a href="javascript:;" class="dropdown-item" style="font-size: small;"
                            (click)="viewUsersModal.show(record.id)">Просмотр</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a href="javascript:;" 
                                class="dropdown-item" style="font-size: small;"
                                (click)="createOrEditUsersModal.show(record)">Редактировать</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a href="javascript:;" 
                                class="dropdown-item" style="font-size: small;"
                                (click)="changePasswordModal.show(false,record.id)">Изменить пароль</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a [routerLink]="['../userRoles']"
                                [queryParams]="{userId: record.id, from: 'home/admin/users'}"
                                class="dropdown-item" style="font-size: small;"
                                >Роли пользователя</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item" href="javascript:;" style="font-size: small;"
                                (click)="remove(record)" >Удалить</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <span class="p-column-title">Логин</span>
                {{record.userName}}
            </td>
            <td>
                <span class="p-column-title">ФИО пользователя</span>
                {{record.lastName + " " + record.firstName + " " + record.patronymic}}
            </td>
            <td>
                <span class="p-column-title">Номер телефона</span>
                {{record.phoneNumber}}
            </td>
            <td>
                <span class="p-column-title">Статус</span>
                <span *ngIf="record.isBlocked" style="color:red;">Заблокирован</span>
                <span *ngIf="!record.isBlocked" style="color:rgb(0, 224, 19)">Активен</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="text-center">Записей не найдено.</td>
        </tr>
    </ng-template>
</p-table>

<app-create-or-edit-user-modal #createOrEditUsersModal (modalSave)="onLazyLoad()"></app-create-or-edit-user-modal>
<app-view-user-modal #viewUsersModal></app-view-user-modal>
<app-change-password-modal #changePasswordModal></app-change-password-modal>