<div class="card">
    <p-dataView #dv [value]="(tests$ | async).data " [paginator]="true" layout="grid" [showCurrentPageReport]="true"
        [rows]="tableFilter.itemPerPage" [rowsPerPageOptions]="[4,8,12,16]" [loading]="(tests$ | async).loading"
        [totalRecords]="(tests$ | async).total" [lazy]="true" [first]="tableFilter.first"
        (onLazyLoad)="onLazyLoad($event)"
        currentPageReportTemplate="Показаны записи с {first} по {last} из {totalRecords}">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <span>ВЕСЬ СПИСОК ТЕСТОВ</span>
                <span class="float-right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </span>
                <span class="float-right">
                    <button class="btn btn-md btn-outline-primary ml-3" ><i class="fa fa-refresh"></i> Обновить</button>
                </span>
            </div>
        </ng-template>
        <ng-template let-record pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img *ngIf="record.test.imgPath" [src]="createImgPath(record.test.imgPath)" [alt]="" />
                        <img *ngIf="!record.test.imgPath" src="/assets/nologo.png" [alt]="" />
                    <div class="product-list-detail">
                        <div class="product-name">
                            <h5 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                                pTooltip="{{record.test.name}}" tooltipPosition="bottom" [showDelay]="200">
                                {{record.test.name}}
                            </h5>
                        </div>
                        <div class="product-description">{{record.test.description}}</div>
                    </div>
                    <div class="product-list-action">
                        <div class="row">
                            <div class="col-md-12">
                                <dl>
                                    <dt class="mr-2">
                                        <b>Результат:  </b>
                                    </dt>
                                     <dd>
                                         <div *ngIf="record.isTested">
                                            <span>{{ record.lastUserTestingHistoryDto?.testScore | number: '1.0-1'}}% </span> 
                                            <p-tag  [severity]="resultStatuses[record.lastUserTestingHistoryDto?.resultStatus].color" [value]="resultStatuses[record.lastUserTestingHistoryDto?.resultStatus].label"></p-tag>
                                         </div>
                                         <div *ngIf="!record.isTested">
                                            <p-tag severity="warning" value="В ожидании"></p-tag>
                                         </div>
                                     </dd>
                                  </dl>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <dl>
                                    <dt class="mr-2">
                                        <b>Статус:  </b>
                                    </dt>
                                     <dd>
                                        <p-tag *ngIf="record.isTested" severity="success" value="Тест пройден"></p-tag>
                                        <p-tag *ngIf="!record.isTested" severity="info" value="Тест не пройден"></p-tag>
                                     </dd>
                                  </dl>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <button *ngIf="record.test.testType == 0" class="btn btn-md btn-primary" style="width:100%; border-radius: 1rem;"
                                    [routerLink]="['../simpleTypeTesting']"
                                    [queryParams]="{testId: record.testId, from: 'home/main/userTests'}" >
                                    Пройти тест
                                </button>
                                <button *ngIf="record.test.testType == 1" class="btn btn-md btn-primary" style="width:100%; border-radius: 1rem;"
                                    [routerLink]="['../L1DTypeTesting']"
                                    [queryParams]="{testId: record.testId, from: 'home/main/userTests'}" >
                                    Пройти тест
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-record pTemplate="gridItem">
            <div class="p-col-12 p-md-3">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <span class="product-category">
                                <h5 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                                    pTooltip="{{record.test.name}}" tooltipPosition="bottom" [showDelay]="200">
                                    {{record.test.name}}
                                </h5>
                            </span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                        <img *ngIf="record.test.imgPath" [src]="createImgPath(record.test.imgPath)" [alt]="" />
                        <img *ngIf="!record.test.imgPath" src="/assets/nologo.png" [alt]="" />
                        <div class="product-description">{{record.test.description}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <div class="row">
                            <div class="col-md-12">
                                <dl>
                                    <dt>
                                        <b>Результат:  </b>
                                    </dt>
                                     <dd>
                                         <div *ngIf="record.isTested && record.lastUserTestingHistoryDto">
                                            <span>{{ record.lastUserTestingHistoryDto?.testScore | number: '1.0-1'}}% </span> 
                                            <p-tag  [severity]="resultStatuses[record.lastUserTestingHistoryDto?.resultStatus].color" [value]="resultStatuses[record.lastUserTestingHistoryDto?.resultStatus].label"></p-tag>
                                         </div>
                                         <div *ngIf="!record.isTested">
                                            <p-tag severity="warning" value="В ожидании"></p-tag>
                                         </div>
                                     </dd>
                                  </dl>
                                <!-- <span>
                                    <b>Результат:  </b><p-tag severity="info" value="Вопрос(ов): {{record.test.amountTestQuestions}}"></p-tag>
                               </span> -->
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <dl>
                                    <dt>
                                        <b>Статус:  </b>
                                    </dt>
                                     <dd>
                                        <p-tag *ngIf="record.isTested" severity="success" value="Тест пройден"></p-tag>
                                        <p-tag *ngIf="!record.isTested" severity="info" value="Тест не пройден"></p-tag>
                                     </dd>
                                  </dl>
                                <!-- <span>
                                    <b>Статус:  </b><p-tag severity="info" value="Вопрос(ов): {{record.test.amountTestQuestions}}"></p-tag>
                               </span> -->
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <button *ngIf="record.test.testType == 0" class="btn btn-md btn-primary" style="width:100%; border-radius: 1rem;"
                                    [routerLink]="['../simpleTypeTesting']"
                                    [queryParams]="{testId: record.testId, from: 'home/main/userTests'}">
                                    Пройти тест
                                </button>
                                <button *ngIf="record.test.testType == 1" class="btn btn-md btn-primary" style="width:100%; border-radius: 1rem;"
                                    [routerLink]="['../L1DTypeTesting']"
                                    [queryParams]="{testId: record.testId, from: 'home/main/userTests'}" >
                                    Пройти тест
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="empty">
            <span >Записей не найдено!</span>
        </ng-template>
    </p-dataView>
</div>
