:host ::ng-deep .p-dropdown {
    
    font-weight: normal;
}
:host ::ng-deep .product-name {
    /* font-size: 1.5rem; */
    font-weight: 600;
    display:grid;
}
:host ::ng-deep .product-description {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.6em;
    min-height: 3.6em;
}
:host ::ng-deep .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
    /* font-size: 1.2rem; */
    font-weight: 600;
    vertical-align: middle;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display:grid;
}
:host ::ng-deep .product-list-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
:host ::ng-deep .product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
    max-height: 7em;
    min-height: 7em;
}
:host ::ng-deep .product-list-item .product-list-detail {
    flex: 1 1 0;
    margin-right: 1rem;
}
:host ::ng-deep .product-list-item .p-rating {
    margin: 0 0 0.5rem 0;
}
:host ::ng-deep .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}
:host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
    flex: 0.3 1 0;
}
:host ::ng-deep .product-list-item .button {
    margin-bottom: 0.5rem;
}
:host ::ng-deep .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
}
:host ::ng-deep .product-grid-item .product-grid-item-top, :host ::ng-deep .product-grid-item .product-grid-item-bottom {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
    width: 100%;
    max-height: 10em;
    min-height: 10em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0.5rem  0 1rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
    /* text-align: center; */
    border-width: 0 0 1px 0;
}
:host ::ng-deep .product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}
.card {
    padding: 0.5rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 0.5em !important;
}
@media screen and (max-width: 576px) {
    :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
   }
    :host ::ng-deep .product-list-item img {
        width: 100%;
        margin: 1rem 0;
   }
    :host ::ng-deep .product-list-item .product-list-detail {
        text-align: center;
   }
    :host ::ng-deep .product-list-item .product-price {
        align-self: center;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
}

@media screen and (min-width: 576px) {
    :host ::ng-deep .p-md-4 {
        padding: 0rem !important;
    }
    :host ::ng-deep .p-md-3 {
        padding: 0rem !important;
    }
}

:host ::ng-deep .p-dataview .p-paginator-bottom {
    border-width: 1px 0 0 0;
    border-radius: 0;
  }

  :host ::ng-deep .p-dataview .p-dataview-emptymessage {
    padding: 1rem;
    text-align: center;
}

dt {
    float: left;
    width: 35%;
}

dd {
    margin-left: 35%;
}
dl{
    margin-bottom: 0 !important;
}