<form #form='ngForm' class="mb-4 mt-3" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <label>Название учетной записи пользователя</label>
        <input class="form-control" #UserName='ngModel' name='UserName' [(ngModel)]="formModel.UserName" 
        required> 
    </div>
    <div class="form-group">
        <label>Пароль</label>
        <input type="password" class="form-control" #Password='ngModel' name='Password' [(ngModel)]="formModel.Password"
        required> 
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Войти</button>
        </div>
    </div>
    <div class="text-center">
        <span class="forgotPswd" (click)="forgotPasswordModalComponent.show()">Забыл пароль</span> 
    </div>
</form>

<app-forgot-password-modal #forgotPasswordModalComponent></app-forgot-password-modal>