<div bsModal #forgotPasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #forgotPasswordForm="ngForm" novalidate (ngSubmit)="send()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Забыл пароль</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password" style="font-size: 1.1rem;">Email адрес: *</label>
                        <input type="text" id="email" class="form-control mb-2" name="email" [(ngModel)]="forgotPassword.email" required />
                        <label style="font-size: 1rem;">Для введенного Email адреса будет отправлено сообщение для сброса пароля.</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="close()">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary blue" [disabled]="!forgotPasswordForm.form.valid" ><i class="fa fa-envelope"></i> <span> Отправить</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
