<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #testQuestionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="testQuestion.id">Редактирование Вопроса</span>
                        <span *ngIf="!testQuestion.id">Создание вопроса</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="name" style="font-size: 1.1rem;">Название вопроса: *</label>
                            <input type="text" id="name" class="form-control mb-2" [(ngModel)]="testQuestion.name" name="name" required />
                        </div>
                        <div class="dropdown-divider"></div>
                        <div *ngFor="let item of testQuestion.answers; let j = index">
                            <div class="form-group">
                                <label for="Test_Name" style="font-size: 1rem;">Название {{j+1}} ответа на вопрос (Галочка - правильность варианта): *</label>
                                <div class="input-group">
                                    <input class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="testQuestion.answers[j].name" placeholder="Название вопроса" required>
                                    <div class="input-group-append">
                                        <input type="checkbox" style="height: 2.7em; width: 2.7em;" [ngModelOptions]="{standalone: true}" [(ngModel)]="testQuestion.answers[j].isCorrect"/>
                                        <button class="btn btn-outline-danger" type="button"
                                            (click)="deleteTestQuestionAnswer(testQuestion.answers[j])">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row ">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-outline-primary float-right mb-3"
                                    (click)="addTestQuestuionAnswer()"> <i class="fa fa-plus"></i>Добавить ответ на вопрос</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="close()">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary blue" [disabled]="!testQuestionForm.valid" ><i class="fa fa-save"></i> <span> Сохранить</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
