<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-mg">
        <div class="modal-content">
            <form *ngIf="active" #testForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="test.id">Редактирование теста</span>
                        <span *ngIf="!test.id">Создание теста</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-fieldset legend="Картинка">
                        <div class="row">
                            <div class="item-img col-md-6">
                                <img *ngIf="imageToShow" [src]="imageToShow" [alt]="" required/>
                                <img *ngIf="!imageToShow" src="/assets/nologo.png" [alt]=" "/>
                            </div>
                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                <app-file-upload  ButtonName="Загрузить картинку"  (onUploadFinished)="uploadFinished($event)"></app-file-upload>
                            </div>
                        </div>
                    </p-fieldset>
                    <div class="mb-3"></div>
                    <p-fieldset legend="Основания информация" class="mb-1">
                        <div class="form-group">
                            <label for="testTypes" style="font-size: 1.1rem;">Тип теста: *</label>
                            <p-dropdown [options]="testTypes" styleClass="form-control mb-2 p-0" optionLabel="key" 
                                optionValue="value" name="testTypes"  [(ngModel)]="test.testType" [autoDisplayFirst]="false" [readonly]="edit"></p-dropdown>
                        </div>
                        <div class="form-group">
                            <label for="name" style="font-size: 1.1rem;">Название: *</label>
                            <input type="text" id="name" class="form-control mb-2" [(ngModel)]="test.name" name="name" required />
                        </div>
                        <div class="form-group">
                            <label for="description" style="font-size: 1.1rem;">Описание: *</label>
                            <textarea type="text" id="description" class="form-control mb-2" [(ngModel)]="test.description" name="description" required></textarea>
                        </div>
                    </p-fieldset>
                    <div class="mb-3"></div>
                    <p-fieldset legend="Результаты тестирования" class="mb-1">
                        <div *ngFor="let item of test.testResultList; let j = index">
                            <div class="row">
                                    <div class="col-md-3 col-p-right">
                                        <div class="form-group">
                                            <label for="rangeFrom">От: *</label>
                                            <input type="number" min="1" max="100" id="rangeFrom" class="form-control mb-2" [(ngModel)]="test.testResultList[j].rangeFrom" name="rangeFrom" [ngModelOptions]="{standalone: true}" required />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-p-right">
                                        <div class="form-group">
                                            <label for="rangeTo">До: *</label>
                                            <input type="number" min="1" max="100" id="rangeTo" class="form-control mb-2" [(ngModel)]="test.testResultList[j].rangeTo" name="rangeTo" [ngModelOptions]="{standalone: true}" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="testResultStatusesv">Статус: *</label>
                                            <p-dropdown [options]="testResultStatuses" styleClass="form-control mb-2 p-0" optionLabel="key" [ngModelOptions]="{standalone: true}"
                                                optionValue="value" name="testResultStatuses"  [(ngModel)]="test.testResultList[j].status" [autoDisplayFirst]="false"></p-dropdown>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="TestResult_Name" style="font-size: 1rem;">Название {{j+1}} результата: *</label>
                                <div class="input-group">
                                    <input class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="test.testResultList[j].name" placeholder="Название" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-danger" type="button"
                                            (click)="deleteTestResult(test.testResultList[j])">Удалить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-outline-primary float-right mt-2"
                                    (click)="addTestResult()"> <i class="fa fa-plus"></i>Добавить результат теста</button>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="close()">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary blue" [disabled]="!testForm.form.valid" ><i class="fa fa-save"></i> <span> Сохранить</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

