<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a routerLink="/home/main">
          <img src="https://img.icons8.com/external-itim2101-blue-itim2101/64/000000/external-brain-medical-and-health-itim2101-blue-itim2101.png" alt="logo"/>
          <h1>PsyPerson</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li *ngIf="UserHelper.UserHasPermission('Permissions.Statistics.Navigation-Menu')" nz-submenu nzOpen nzTitle="Statistics" nzIcon="menu">
          <ul>
            <li  *ngIf="UserHelper.UserHasPermission('Permissions.Statistics.Pages')"
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/main/statistics">Statistics</a>
            </li>
          </ul>
        </li>
        <li *ngIf="UserHelper.UserHasPermission('Permissions.Admin.Navigation-Menu')" nz-submenu nzOpen nzTitle="Admin" nzIcon="menu">
          <ul>
            <li *ngIf="UserHelper.UserHasPermission('Permissions.Users.Pages')"  
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/admin/users">Users</a>
            </li>
            <li *ngIf="UserHelper.UserHasPermission('Permissions.Roles.Pages')" 
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/admin/roles">Roles</a>
            </li>
          </ul>
        </li>
        <li *ngIf="UserHelper.UserHasPermission('Permissions.HR/Managers.Navigation-Menu')" nz-submenu nzOpen nzTitle="HR/Managers" nzIcon="menu">
          <ul>
            <li *ngIf="UserHelper.UserHasPermission('Permissions.Tests.Pages')"
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/main/tests">Tests</a>
            </li>
            <li *ngIf="UserHelper.UserHasPermission('Permissions.UserTestUsers.Pages')" 
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/main/userTestUsers">Users</a>
            </li>
            <li *ngIf="UserHelper.UserHasPermission('Permissions.Testings.ForCheck')" 
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/main/userTestingListForCheck">User Testings</a>
            </li>
          </ul>
        </li>
        <li *ngIf="UserHelper.UserHasPermission('Permissions.Employees.Navigation-Menu')" nz-submenu nzOpen nzTitle="Employees" nzIcon="menu">
          <ul>
            <li  *ngIf="UserHelper.UserHasPermission('Permissions.UserTests.Pages')"
                nz-menu-item nzMatchRouter>
              <a routerLink="/home/main/userTests">Tests</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
          <div class="float-right mr-4">
            <button class="btn btn-md btn-outline-secondary" (click)="onLogout()">
              <i class="fa fa-sign-out"></i> Выход
            </button>
          </div>
          <div class="float-right mr-2">
            <button class="btn custom-btn-sm btn-outline" (click)="visibleSidebar = true">
              <p-avatar icon="pi pi-user" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            </button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>

          <!-- Right-SideBar -->
          <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="1049">
            <h5>Профиль пользователя</h5>
            <div class="row">
              <div class="col-md-12">
                <dl>
                  <dt>
                      <label for="userName" style="font-size: 1.1rem; color:#747779;"><b>Логин: </b></label>
                  </dt>
                   <dd>
                      <label for="userName" style="font-size: 1.1rem; margin-bottom: 0rem !important;">{{user.userName}}</label>
                   </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl>
                  <dt>
                      <label for="userName" style="font-size: 1.1rem; color:#747779;"><b>Почта: </b></label>
                  </dt>
                   <dd>
                      <label for="userName" style="font-size: 1.1rem; margin-bottom: 0rem !important;">{{user.email}}</label>
                   </dd>
                </dl>
              </div>
            </div>
            <p-divider></p-divider>
            
            <h5>Действия</h5>
            <a href="javascript:;" style="font-size: 1.1rem; color:#495057;" (click)="changePassword()">
              <i class="fa fa-key"></i> Изменить пароль
            </a>
          </p-sidebar>
          <!-- Right-SideBar -->

        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>

  <app-change-password-modal #changePasswordModal></app-change-password-modal>