<div bsModal #resetPasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #resetPasswordForm="ngForm" novalidate (ngSubmit)="reset()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Сброс и изменение пароля</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="resetPassword">
                            <div class="form-group required">
                                <label style="font-size: 1.1rem;">Пароль</label>
                                <input type="password" class="form-control" formControlName="Password">
                                <label class = "text-danger" *ngIf="resetPassword.get('Password')?.touched && 
                                resetPassword.get('Password')?.errors?.required">Данное поле обязатольно для заполнения.</label>
                                <label class = "text-danger" *ngIf="resetPassword.get('Password')?.touched && 
                                resetPassword.get('Password')?.errors?.minlength">Минимальная длина 4 символа.</label>
                            </div>
                            <div class="form-group required">
                                <label style="font-size: 1.1rem;">Подтвердить пароль</label>
                                <input type="password" class="form-control" formControlName="ConfirmPassword">
                                <label class = "text-danger" *ngIf="resetPassword.get('ConfirmPassword')?.touched && 
                                resetPassword.get('ConfirmPassword')?.errors?.required">Данное поле обязатольно для заполнения.</label>
                                <label class = "text-danger" *ngIf="resetPassword.get('ConfirmPassword')?.touched && 
                                resetPassword.get('ConfirmPassword')?.errors?.passwordMismatch">Пароли не совпадают.</label>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="close()">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary blue" [disabled]="!resetPassword.valid" ><i class="fa fa-envelope"></i> <span> Отправить</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

